# Copy this file to .env and fill in your actual values

PORT=3000

# NODE_ENV=production/test
NODE_ENV=development

BASE_URL=http://localhost:3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_to_a_secure_password
POSTGRES_DB=bible_db   

# DATABASE_URL=postgre_db_url
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/bible_db

JWT_SECRET=replace_with_long_random_secret

JWT_REFRESH_SECRET=replace_with_long_random_refresh_secret

# REDIS_URL=redis_url
REDIS_URL=redis://localhost:6379

# ALLOWED_ORIGINS=https://yourwidget.com,chrome-extension://your-prod-extension-id
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

MAIL_USER=your-email@gmail.com
# This must be the 16-character App Password like myaccount.google.com/apppasswords, NOT your login password
MAIL_PASSWORD=your-app-password

MAIL_FROM="Bible Verse <your-email@gmail.com>"
