# Copy this file to .env and fill in your actual values

PORT=port
NODE_ENV ='development or production'
BASE_URL=base_url

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_to_a_secure_password
POSTGRES_DB=db   

DATABASE_URL=postgre_db_url


JWT_SECRET=secret

JWT_REFRESH_SECRET=refresh_secret

REDIS_URL=redis_url
